In [2]:
import pandas as pd
d = pd.read_csv(r"C:\Users\sanjoy\Downloads\csv\house_price.csv")

In [3]:
d.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [10]:
x=d.iloc[:,:-1].values
x.shape

(2885, 6)

In [13]:
y=d.iloc[:,6].values
y.shape

(2885,)

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=52)

In [15]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [19]:
y_pred=model.predict(x_test)
y_pred.shape

(577,)

In [20]:
y_test.shape

(577,)

In [22]:
model.coef_

array([ 1.58154284e+03, -9.16858889e+00,  8.75878262e+01, -2.63297725e+01,
        5.90674753e+01,  4.53300569e+04])

In [24]:
model.intercept_

-65656.56579228834

In [25]:
y=model.predict([[41.0,
880.0,
129.0,
322.0,
126.0,
8.3252
]])

In [26]:
y

array([378763.267195])